<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
        <link rel="shortcut icon" type="image/svg+xml" href="https://symfony.com//favicons/favicon.svg">
        <link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
        <script src="{{ asset('vue.js') }}"></script>
    </head>
    <body>
        <div id="root">
            <div class="container mt-5">
                <div class="row justify-content-between">
                    <form action="#" @submit.prevent="onSubmit" class="col-6 d-flex justify-content-evenly align-self-start">
                        <input v-model.trim="number1" type="text" class="form-control" style="width: 150px; display: inline"/>
                        <select v-model.trim="operation">
                            <option value="" disabled>---</option>
                            {% for option in options %}
                                <option value="{{ option }}">{{ option|capitalize }}</option>
                            {% endfor %}
                        </select>
                        <input v-model.trim="number2" type="text" class="form-control" style="width: 150px; display: inline"/>
                        <button :disabled="isDisabledBtn" type="submit" class="btn btn-primary">Calculate</button>
                        <button :disabled="disableProcess" @click="onProcess" type="button" class="btn btn-primary">Process</button>
                    </form>
                    <div class="col-4 border rounded" :class="hasStatus">
                        <p v-if="loading">Loading...</p>
                        <h3 v-if="successfullyCreated" class="text-success">
                            Calculation created!
                        </h3>
                        <template v-if="errors">
                            <h3 class="text-danger">Errors:</h3>
                            <template v-for="(errorList, key) in errors">
                                {% verbatim %}
                                <h6>{{ key }}:</h6>
                                <ul>
                                    <li v-for="error in errorList" :key="error">{{ error }}</li>
                                </ul>
                                {% endverbatim %}
                            </template>
                        </template>
                        <ul v-if="formattedCalculations">
                            <li v-for="calculation in formattedCalculations" :key="calculation.id" :class="{'text-danger': calculation.hasError}">
                                {% verbatim %}
                                  {{ calculation.calcString }}
                                {% endverbatim %}
                            </li>
                        </ul>
                        <p v-if="noCalculations">No new calculations</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const UNKNOWN_ERROR = 'Something went wrong...'
            const BASE_URL = 'http://localhost'

            Vue.createApp({
                data() {
                    return {
                        number1: '',
                        number2: '',
                        operation: '',
                        successfullyCreated: false,
                        calculations: null,
                        errors: null,
                        loading: false,
                        disableProcess: false,
                        noCalculations: null
                    }
                },
                methods: {
                    onSubmit() {
                        this.loadingStart()

                        if (this.number1 && this.operation && this.number2) {
                            const requestBody = JSON.stringify({
                                number1: this.number1,
                                number2: this.number2,
                                operation: this.operation
                            })

                            this.number1 = ''
                            this.number2 = ''
                            this.operation = ''

                            fetch(BASE_URL, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: requestBody
                            })
                                .then(response => response.json())
                                .then(json => {
                                    if ('errors' in json) {
                                        this.errors = json.errors
                                    } else {
                                        this.successfullyCreated = true
                                    }
                                })
                                .catch(() => {
                                    this.setUnknownError()
                                })
                                .finally(() => {
                                    this.loadingEnd()
                                })
                        }
                    },
                    onProcess() {
                        this.loadingStart()

                        fetch(`${BASE_URL}/process`)
                            .then(response => response.json())
                            .then(({calculations}) => {
                                if (!calculations.length) {
                                    this.noCalculations = true
                                } else {
                                    this.calculations = calculations
                                }
                            })
                            .catch(() => {
                                this.setUnknownError()
                            })
                            .finally(() => {
                                this.loadingEnd()
                            })
                    },
                    loadingStart() {
                        this.loading = true
                        this.successfullyCreated = false
                        this.calculations = null
                        this.disableProcess = true
                        this.errors = null
                        this.noCalculations = null
                    },
                    loadingEnd() {
                        this.loading = false
                        this.disableProcess = false
                    },
                    setUnknownError() {
                        this.errors = {application: [UNKNOWN_ERROR]}
                    }
                },
                computed: {
                    isDisabledBtn() {
                        return !this.number1 || !this.number2 || !this.operation
                    },
                    hasStatus() {
                        return {
                            'border-danger': this.errors !== null,
                            'border-success': this.successfullyCreated
                        }
                    },
                    formattedCalculations() {
                        return this.calculations?.map(calc => {
                            const hasError = calc.message !== null;
                            const condition = `${calc.number1} ${calc.operation} ${calc.number2}`
                            const result = hasError ? `: ${calc.message}` : `= ${calc.total}`
                            const calcString = `${condition} ${result}`

                            return {
                                id: calc.id,
                                calcString,
                                hasError,
                            }
                        })
                    }
                }
            }).mount('#root')
        </script>
    </body>
</html>
